@tailwind base;
@tailwind components;
@tailwind utilities;

/* Avenir Next LT Pro Regular */
@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
}

/* Avenir Next LT Pro Ultra Light */
@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/AvenirNextLTPro-UIlt.otf') format('opentype');
}

/* Avenir Next LT Pro Ultra Light Condensed */
@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: condensed;
  font-weight: 200;
  src: url('/fonts/AvenirNextLTPro-UIltCn.otf') format('opentype');
}

/* Maison Neue Bold */
@font-face {
  font-family: 'Maison Neue';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/MaisonNeueBold.otf') format('opentype');
}

/* Maison Neue Extended Extra Bold Italic */
@font-face {
  font-family: 'Maison Neue Extended';
  font-style: italic;
  font-weight: 800;
  src: url('/fonts/MaisonNeueExtendedExtrBoldItalic.otf') format('opentype');
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
